.scrollable-contact-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-contact-list::-webkit-scrollbar-thumb {
  background-color: #999b9e;
  border-radius: 6px;
}

.scrollable-contact-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
